.FileManagerContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 200px;
    height: 60%;
    padding: 10px;
    box-sizing: border-box;
    /* background-color: #EEDBD6; */
    color: #fff;
}

.FileManagerButtons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.FileManagerButtons button {
    margin: 1.5px 0;
    display: block;
    width: 100%;
    cursor: pointer;
    background-color: #EEDBD6;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

.FileManagerButtons button:hover {
    background-color: #c2a8a1;
    transform: translateY(-2px);
}